.wrapper {
  margin-top: 20px;
}

.info:not(:last-child) {
  margin: 8px 0;
}

.label {
  margin-top: 20px;
  font-weight: bold;
}

.info span {
  font-weight: bold;
}

.more {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-top: 20px;
}
