.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin-right: 20px;
  display: flex;
}

.initials {
  color: var(--color-title);
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: auto;
}
