.image {
  width: 256px;
  min-width: 256px;
  height: 256px;
}

.details {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.row {
  display: flex;
  flex-direction: column;
}

.row:not(:last-child) {
  margin: 20px 0;
}

.row_title {
  font-weight: bold;
}
